body {
	font-family: "Lato", "Arial", "sans-serif";
	text-rendering: optimizeLegibility;
}

p {
	color: #555;
	font-weight: 300;
	font-size: 1.1em;
	line-height: 160%;
}

section {
	box-shadow: inset 0 -10px 10px -10px rgba(0, 0, 0, 0.8);
}

.section-header {
	background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
		url(https://images.unsplash.com/photo-1547413749-dd39525702cd?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2550&q=80);
	background-size: cover;
	background-position: bottom;
	height: calc(100vh - 56px);
	background-attachment: fixed;
}

.section-header h1 {
	font-size: 8rem;
	letter-spacing: 0.2em;
}

.section-header h2 {
	font-size: 3.2rem;
	letter-spacing: 0.1em;
}

.navbar {
	background-color: #151b29;
}

.search-button {
  background: none;
	color: rgb(168, 0, 168);
	border: 2px solid;
	padding: 0 1.5em;
	font-size: 1em;
	transition: color 0.2s, border-color 0.2s, box-shadow 0.2s, transform 0.2s;
}

.search-button:hover {
  border-color: rgb(255, 104, 255);
	color: white;
	box-shadow: 0 0.5em 0.5em -0.4em rgb(255, 104, 255);
	transform: translateY(-0.10em);
	cursor: pointer;
}

.section-features h3 {
	font-size: 1.4em;
	font-weight: 300;
}

.red {
	color: red;
}

.purple {
	color: purple;
}

.heading-textbox:after {
	display: block;
	height: 2px;
	background-color: purple;
	content: " ";
	width: 100px;
	margin: 0 auto;
	margin-top: 30px;
}

.hero-text-box {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.img-box {
	width: 100%;
	margin: 0;
	/*   font-size: 0; */
	background-color: #000;
	overflow: hidden;
}

.img-box img {
	opacity: 0.7;
	width: 100%;
	height: auto;
	transform: scale(1.15);
	transition: transform 0.5s, opacity 0.5s;
}

.img-box img:hover {
	opacity: 1;
	transform: scale(1);
}

@media (max-width: 900px) {
	.section-header h1 {
		font-size: 4.4em;
		letter-spacing: 0.10em;
	}

	.section-header h2 {
		font-size: 1.6em;
		letter-spacing: 0.05em;
	}
}
